/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

/* Storing Styles */
:root {
    --Pixel: "Pixelify Sans", sans-serif;

    --Blue-400: #7676f9;
    --Blue-500: #0000FF;
    --Blue-600: #000055;

    --Yellow-500: #FFFF00;

    --Black-500: #000000;
    --Black-400: #191919;
    --Black-300: #333333;
    --Black-200: #5A5A5A;
    --Black-100: #B4B4B4;

    --White-500: #FFFFFF;
}

/* Global Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Black-500);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.startGame, .questionCard, .endGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Black-400);
    width: 336px; 
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--Black-200);
    gap: 24px;
}

.startGame {
    animation: 
        appearCard 0.9s ease-in-out forwards,
        floatCard 2s ease-in-out 1s infinite
    ;
}

.questionCard, .endGame {
    animation: 
        floatCard 2s ease-in-out infinite
    ;
}

@keyframes appearCard {
    from {opacity: 0; transform: scale(24) translateY(0px) rotate3d(0, 0, -2, 360deg);}
    to {opacity: 1; transform: scale(1) translateY(0px);}
}

@keyframes floatCard {
    0% {transform: translateY(0px);}
    50% {transform: translateY(16px);}
    100% {transform: translateY(0px);}
}

.startGameImage, .questionCardImage, .endGameImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.startGameTitle, .questionCardTitle, .endGameTitle {
    color: var(--White-500);
    font-family: var(--Pixel);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.48px;
}

.imageContainer {
    height: 164px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

img:hover {
    transform: scale(1.15) translateY(0px);
    transition: transform 0.5s ease-in-out;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}

.startGameBtn, .questionCardBtn, .questionCardNextBtn, .endGameBtn {
    width: 100%;
    background-color: var(--Blue-500);
    color: var(--White-500);
    padding: 11.5px 16px;
    border-radius: 6px;
    border: none;
    font-family: var(--Pixel);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.startGameBtn:hover, .questionCardBtn:hover, .questionCardNextBtn:hover, .endGameBtn:hover {
    background-color: var(--Yellow-500);
    color: var(--Black-500);
    transition: all 0.5s ease-in-out;
}

.startGameBtn:active, .questionCardBtn:active, .questionCardNextBtn:active, .endGameBtn:active {
    background-color: var(--Yellow-500);
    color: var(--Black-500);
    transition: all 0.5s ease-in-out;
}

span {
    color: var(--Yellow-500);
}

.question {
    color: var(--White-500);
    font-family: var(--Pixel);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.28px;
}

.hidden {
    display: none;
    transition: all 0.5s ease-in-out;
}

.disabled {
    background-color: var(--Black-200);
    color: var(--Black-100);
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.75;
}

.selected {
    background-color: var(--Blue-600);
    transition: all 0.5s ease-in-out;
}